# Скрытые файлы с настройками и секретами
.env

# База данных SQLite
db.sqlite3

# Виртуальное окружение
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Медиа файлы (если пользователи загружают картинки/документы)
media/